// bower:scss
// endbower

body {
	background: url("/images/paper.png");
}

header.ui.menu {
	margin-top: 0;
}

.ui.menu .header.item:before {
	background: none;
}

.secret-card {
	cursor: pointer;
	padding: 0 0.2em;
}

.selected-secret-card {
	padding-top: 3em;
}

.consequential-action-list {
	padding-top: 2em;
}

.hidden {
	visibility: hidden;
}

.centered {
	text-align: center;
}

.consequence.highlighted {
	color: orangered;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em;
}
